<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="fixed-header mat-typography">
  <h2 class="mat-h2" routerLink="/home">wgiScores</h2>
  <button mat-button [matMenuTriggerFor]="guard">Guard</button>
  <button mat-button [matMenuTriggerFor]="percussion">Percussion</button>
  <button mat-button [matMenuTriggerFor]="winds">Winds</button>
</mat-toolbar>
  
<mat-menu #guard="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="scores">Scores</button>
  <button mat-menu-item>Rankings</button>
</mat-menu>

<mat-menu #percussion="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="scores">Scores</button>
  <button mat-menu-item>Rankings</button>
</mat-menu>

<mat-menu #winds="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="scores">Scores</button>
  <button mat-menu-item>Rankings</button>
</mat-menu>

<mat-menu #scores="matMenu">
  <button mat-menu-item routerLink="/home">2020</button>
  <button mat-menu-item>2019</button>
  <button mat-menu-item>2018</button>
</mat-menu>

<router-outlet></router-outlet>
